{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no" />
    <title>I rörelse</title>

    <link rel="stylesheet" type="text/css" media="all" href="{% static 'i_rorelse/css/style-basic.css' %}" />

    <script>
        const ROOT_PATH = "{% url 'start' %}"
    </script>
</head>

<body>
    <div class="loader">Loading...</div>
    <div id="map" style='visibility: hidden;'></div>
    <script src="{% static 'i_rorelse/js/app.js' %}"></script>

</body>

</html>